.header {
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section {
    display: flex;
    align-items: center;
}

.middle-section {
    background-color: lightpink;
    flex: 1;
    margin-left: 260px;
    margin-right: 150px;
    max-width: 600px
}

.right-section {
    background-color: lightblue;
    width: 250px;
}

.hamburger-bar {
    height: 25px;
    margin-left: 20px;
    margin-right: 1px;
}

.youtube-logo {
    height: 90px;
}